<h1>Produtos</h1>

<!-- Alterar e Adicionar Departamentos
  
  Formulario para alteração de Departamentos -->
  
  <div *ngIf="departamentoSelecionado">
    <form [formGroup]="departamentoForm" (submit)="enviar()">
      <div class="campo">
        <label>Codigo</label>
        <input type="number" id="id" formControlName="id"  disabled="true">
      </div>
      
      <div class="nome">
        <label>Nome</label>
        <input type="text" id="Nome" formControlName="nome" required>
      </div>
      
      <div>
        <label class="sigla">Marca</label>
        <input type="text" id="sigla" formControlName="sigla" required>
      </div>
      
      <div>
        <label class="sigla">Tamanho</label>
        <input type="number" id="sigla" formControlName="sigla" required>
      </div>
      
      <div>
        <label class="departamento">Cor</label>
        <input type="text" id="DepartamentoId" formControlName="" required>
      </div>
      
      <div>
        <label class="departamento">Preço</label>
        <input type="text" id="DepartamentoId" formControlName="" required>
      </div>
      
      <div>
        <label class="departamento">Qtd de Produto</label>
        <input type="text" id="DepartamentoId" formControlName="" required>
      </div>
      
      <div>
        <div class="campo" >
          <button type="submit" class=" btn btn-primary" >Salvar</button>
          <button class=" btn btn-danger"(click)="voltar()">Cancelar</button>
        </div>
      </div>
      
    </form>   
    
    
  </div>
  
  <!-- Listar Departamentos
    
    Formulario para Lista de Departamentos -->
    
    <div *ngIf = "!departamentoSelecionado">
      <div class="adicionar">
        <button class=" btn btn-success" (click)="addDepartamento()">Novo Produto</button>
      </div>
      
      <table class="table table-hover">
        <thead>
          <th>Nome do produto</th>
          <th>Preço</th>
          <th>Estoque</th>
          <th>Status</th>
          <th>Ações</th>
        </thead>
        <tbody>
          <tr>
            <td>Chuteira</td>
            <td>222,20</td>
            <td>35</td>
            <td>Inativo</td>
            <td>
              <a href="Alterar_Produto.html" class="btn btn-primary"><i class="fas fa-edit"></i></a>
              <a href=" " class="btn btn-danger"><i class="fas fa-trash"></i></a>
            </td>
          </tr>
      </tbody>
    </table>
    
  </div>